header {
padding-block: 32px;
font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile > div {
max-width: 384px;
}


#profile {
  display: flex;
  gap: 32px;
  
}


#profile img {
border-radius: 100%;
width: 176px;
height: 176px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;

}

#profile p {
  font: var(--text-md);
}

#info {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}